<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><i class="fa fa-area-chart" aria-hidden="true"></i></span> Welcome to Dashboard!</h1>


    </div>

</div>
</body>
</html>