<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h3><i class="fa fa-area-chart" aria-hidden="true"></i> Hi, <%= user.username %>. Welcome to Dashboard!</h3>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <!--<add my appa here>-->
    </div>
</div>
</body>
</html>